.flex{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .temp{
    margin-top:150%;
    margin-left: 75%;
  }